:root {
    --rosa: #FFF7F0;
    --preto: #131313;
    --preto-social-medias: #1A1919;
    --azul-marinho: #112A46;
    --azul-marinho-claro: #406692;
    --azul-claro: #E7EEFF;
    --branco: #ffffff;
    --cinza-escuro: #535353;
    --cinza-claro: #EFEFEF;
    --cinza-links: #93969C;
    --amarelo: #FFE43B;
    --gelo: #F7F9FD;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/* =========== Animation */

@keyframes go-back {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}

/* ================ HEADER */

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.75rem 0rem;
    background-color: var(--rosa);
}

.logo-img {
    width: 9.375rem;
    cursor: pointer;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.menu ul li {
    list-style: none;
    cursor: pointer;
    font-size: 1.125rem;
    color: var(--preto);
}

.header-btn {
    padding: 0.75rem 1.75rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--azul-marinho);
    color: var(--branco);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.header-btn:hover {
    border-radius: 0.25rem;
    transition: 1s ease-out;
    background-color: var(--azul-marinho-claro);
}

/* Menu Mobile */

.btn-mobile {
    display: none;
    border: none;
    background-color: transparent;
    color: var(--azul-marinho);
}

.btn-mobile i {
    font-size: 1.25rem;
}

.close-menu {
    display: none;
}

.close-menu i {
    font-size: 1.25rem;
    color: var(--preto);
}

@media screen and (max-width: 1000px) {
    .btn-mobile {
        display: block;
    }

    .menu ul {
        display: none;
        position: absolute;
    }

    .header-btn {
        display: none;
    }

    .close-menu {
        display: block;
    }

    .menu.active ul {
        display: flex;
        position: fixed;
        background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
        box-shadow: 0px 0px 8px -4px var(--preto-social-medias);
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        max-width: 320px;
        width: 100%;
        right: 0;
        top: 0;
        z-index: 100;
        padding: 2rem;
        animation: go-back 1s;
    }

    .menu.active ul li:last-child {
        color: var(--preto);
        background-color: var(--amarelo);
        border-radius: 12px;
        padding: 0.75rem 1.25rem;
    }

    .menu.active ul li {
        padding: 1rem;
        color: var(--preto);
        font-weight: 500;
    }
}

/* ================ MAIN */

/* First Article */

.first-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 1.75rem 0px;
    background-color: var(--rosa);
}

.first-article section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    width: 100%;
}

.first-article section h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 4.5rem;
    font-weight: lighter;
    margin-bottom: 0.75rem;
}

.first-article section p {
    max-width: 550px;
    width: 95%;
    margin-bottom: 1.5rem;
    color: var(--cinza-escuro);
}

.first-article section button {
    width: 200px;
    padding: 1.25rem 0.25rem;
    border-radius: 8px;
    background-color: var(--azul-marinho);
    border: none;
    color: var(--branco);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.first-article section button:hover {
    border-radius: 4px;
    transition: 1s ease-out;
    background-color: var(--azul-marinho-claro);
}

@media screen and (max-width: 600px) {

    .first-article img {
        max-width: 475px;
        width: 95%;
    }

    .first-article section h1 {
        font-size: 3rem;
    }

    .first-article section p {
        max-width: 400px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 1173px) {
    .first-article section {
        text-align: center;
        align-items: center;
    }
}

/* Second Article */

.second-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.75rem 0rem;
}

.second-article .first-section h2 {
    text-align: center;
    font-size: 3.75rem;
    margin-bottom: 0.75rem;
}

.second-article .first-section P {
    max-width: 550px;
    width: 95%;
    padding: 0.25rem;
    text-align: center;
    color: var(--cinza-escuro);
}

.second-article .second-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 95%;
}

.second-article .second-section .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    max-width: 210px;
    width: 100%;
    height: 250px;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border-radius: 12px;
    box-shadow: 10px 10px 26px 0px rgba(199, 199, 199, 0.212);
}

.second-article .second-section .container h3 {
    font-size: 2rem;
    color: var(--azul-marinho);
    position: relative;
}

.circle-1 {
    position: absolute;
    background-color: var(--azul-claro);
    opacity: .7;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    right: 1rem;
    bottom: 0.0625rem;
}

.circle-2 {
    position: absolute;
    background-color: var(--azul-claro);
    opacity: .7;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    right: 2.0625rem;
    bottom: 0.0625rem;
}

.second-article .second-section .container h4 {
    font-size: 1.25rem;
}

.second-article .second-section .container p {
    font-size: 0.9375rem;
    color: var(--cinza-escuro);
}

@media screen and (max-width: 442px) {
    .second-article .second-section .container {
        max-width: 280px;
        width: 100%;
        height: 320px;
    }
}

@media screen and (max-width: 600px) {
    .second-article .first-section h2 {
        font-size: 2.5rem;
    }
}

/* Third Article */

.third-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 1.75rem 0rem;
}

.third-article section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    width: 100%;
}

.third-article section h2 {
    font-size: 3.75rem;
    margin-bottom: 0.75rem;
}

.third-article section p {
    max-width: 550px;
    width: 95%;
    margin-bottom: 1.5rem;
    color: var(--cinza-escuro);
}

.third-article section button {
    width: 160px;
    padding: 1.5rem 0.75rem;
    border-radius: 8px;
    background-color: var(--azul-marinho);
    border: none;
    color: var(--branco);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.third-article section button:hover {
    border-radius: 4px;
    transition: 1s ease-out;
    background-color: var(--azul-marinho-claro);
}

@media screen and (max-width: 600px) {

    .third-article img {
        max-width: 475px;
        width: 95%;
    }

    .third-article section h2 {
        font-size: 2.5rem;
    }

    .third-article section p {
        max-width: 400px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 1067px) {
    .third-article section {
        align-items: center;
    }

    .third-article section p {
        text-align: center;
    }

}

/* Fourth Article */

.fourth-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-article .first-section h2 {
    text-align: center;
    font-size: 3.75rem;
    margin-bottom: 0.75rem;
    margin-top: 1.25rem;
}

.fourth-article .first-section P {
    max-width: 550px;
    width: 94%;
    text-align: center;
    color: var(--cinza-escuro);
    padding: 0rem 0.25rem;
}

.fourth-article .second-section {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0rem 0rem 1rem 0rem;
}

.fourth-article .second-section .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 280px;
    height: 400px;
    padding: 0.5rem;
    margin-bottom: 0rem;
}

.fourth-article .second-section .container img {
    width: 100%;
}

.fourth-article .second-section .container h4 {
    font-size: 1.75rem;
}

.fourth-article .second-section .container p {
    font-size: 1.0625rem;
    color: var(--cinza-escuro);
}

@media screen and (max-width: 559px) {
    .fourth-article .second-section .container {
        max-width: 350px;
        height: 450px;
    }
}

@media screen and (max-width: 600px) {

    .fourth-article .first-section h2 {
        font-size: 2.5rem;
    }

    .fourth-article .second-section .container h4 {
        font-size: 1.5rem;
    }

    .fourth-article .second-section .container p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1067px) {
    .fourth-article .first-section h2 {
        margin-top: 2rem;
    }
}

/* Fifth Article */

.fifth-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.75rem 0rem;
}

.fifth-article section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 520px;
    width: 100%;
    margin-left: 4rem;
    padding: 0rem 2rem;
}

.fifth-article section h2 {
    font-size: 3.75rem;
    margin-bottom: 0.75rem;
}

.fifth-article section p {
    max-width: 550px;
    width: 95%;
    margin-bottom: 1.5rem;
    color: var(--cinza-escuro);
}

.fifth-article section button {
    width: 160px;
    padding: 1.5rem 0rem;
    border-radius: 8px;
    background-color: var(--azul-marinho);
    border: none;
    color: var(--branco);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.fifth-article section button:hover {
    border-radius: 4px;
    transition: 1s ease-out;
    background-color: var(--azul-marinho-claro);
}

.fifth-article section .semicircle {
    position: absolute;
    max-width: 115px;
    width: 90%;
    right: 0;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .fifth-article section {
        padding: 0rem;
        margin-left: 0rem;
    }

    .fifth-article img {
        max-width: 475px;
        width: 95%;
    }

    .fifth-article section h2 {
        font-size: 2.5rem;
    }

    .fifth-article section p {
        max-width: 400px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 1097px) {
    .fifth-article section {
        align-items: center;
    }

    .fifth-article section p {
        text-align: center;
    }
}

/* Sixth Article */

.sixth-article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 1.75rem 0rem;
    background-color: var(--cinza-claro);
}

.sixth-article .first-section {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 370px;
}

.sixth-article .first-section h4 {
    font-weight: 500;
}

.sixth-article .first-section h2 {
    font-size: 3.75rem;
}

.sixth-article .first-section p {
    padding: 0rem 0.25rem;
}

.sixth-article .second-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.25rem;
}

.sixth-article .second-section div p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    width: 300px;
    max-width: 95%;
    padding: 2rem 0rem;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 2.25rem;
    margin-right: 0rem;
    background-color: var(--gelo);
    border-radius: 8px;
    box-shadow: 10px 10px 26px 0px rgba(199, 199, 199, 0.212);
}

@media screen and (max-width: 300px) {
    .sixth-article .second-section div p {
        width: 200px;
    }
}

@media screen and (max-width: 600px) {
    .sixth-article .first-section h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 611px) {
    .sixth-article .second-section div {
        margin: 0 auto;
    }
}

@media screen and (max-width: 636px) {
    .sixth-article .second-section {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.75rem;
    }
}

@media screen and (max-width: 1045px) {
    .sixth-article .first-section {
        text-align: center;
    }
}

/* Seventh Article */

.seventh-article {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 3.75rem;
    padding: 1.75rem 0rem;
}

.seventh-article img {
    border-radius: 12px;
}

.seventh-article section {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    z-index: 1;
}

.seventh-article section h2 {
    font-size: 60px;
}

.seventh-article section button {
    width: 160px;
    padding: 1.5rem 0rem;
    border-radius: 8px;
    background-color: var(--azul-marinho);
    border: none;
    color: var(--branco);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.seventh-article section button:hover {
    border-radius: 4px;
    transition: 1s ease-out;
    background-color: var(--azul-marinho-claro);
}

.seventh-article section .img-1 {
    width: 500px;
}

.seventh-article .img-2 {
    width: 400px;
    height: 500px;
}

.seventh-article .img-3 {
    position: absolute;
    align-self: center;
    width: 200px;
    z-index: 2;
}

.seventh-article figure .semicircle {
    position: absolute;
    left: 0;
    margin-top: 10%;
}

@media screen and (max-width: 395px) {
    .seventh-article figure .semicircle {
        width: 4.125rem;
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    .seventh-article section h2 {
        font-size: 2.5rem;
    }

    .seventh-article .img-2 {
        text-align: center;
        max-width: 400px;
        width: 95%;
        max-height: 500px;
        height: 95%;
    }

    .seventh-article section .img-1 {
        max-width: 400px;
        width: 95%;
    }
}

@media screen and (max-width: 907px) {
    .seventh-article section {
        text-align: center;
        align-items: center;
    }

    .seventh-article section h2 {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 959px) {
    .seventh-article {
        gap: 0.5rem;
    }

    .seventh-article .img-3 {
        align-self: flex-start;
        opacity: .6;
        width: 100px;
    }

    .seventh-article .img-2 {
        text-align: center;
    }
}

/* Eighth Article */

.eighth-article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 0.75rem;
    background-image: url(../img/background-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.eighth-article section h2 {
    font-size: 3.75rem;
    margin-bottom: 1.5rem;
    color: var(--branco);
}

.eighth-article section p {
    max-width: 400px;
    width: 95%;
    color: var(--branco);
    font-weight: 300;
}

.form-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    width: 95%;
    background-color: var(--branco);
    padding: 2rem;
}

.form-section form img {
    width: 140px;
    margin-bottom: 1.5rem;
}

.form-section form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}

.form-section .form input {
    padding: 0.75rem;
    border: none;
    border-bottom: 1px solid var(--cinza-claro);
}

.form-section .form input[type="file"] {
    display: none;
}

.form-section .form input,
.form-section .form textarea {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.form-section .form textarea {
    border: 1px solid var(--cinza-claro);
}

.form-section .form label {
    font-size: 0.875rem;
    color: var(--cinza-escuro);
    cursor: pointer;
}

.form-section .form label i {
    font-size: 1.25rem;
    margin-right: 0.75rem;
}

.form h4 {
    color: var(--cinza-escuro);
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1.25rem;
}

.form-btn {
    width: 160px;
    padding: 1rem 0.75rem;
    border-radius: 8px;
    background-color: var(--azul-marinho);
    border: none;
    color: var(--branco);
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
}

.form-btn:hover {
    border-radius: 4px;
    transition: 1s ease-out;
    background-color: var(--azul-marinho-claro);
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-bottom: 1.75rem;
}

.form-section .form .semicircle {
    position: absolute;
    width: 70px;
    right: 0;
    bottom: -1.25rem;
}

@media screen and (max-width: 435px) {
    .form-section form {
        width: 200px;
    }
}

@media screen and (max-width: 600px) {
    .eighth-article section h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1045px) {

    .eighth-article-h2,
    .eighth-article-p {
        text-align: center;
    }
}

/* ================ FOOTER */

.footer {
    background-color: var(--preto);
    color: white;
    padding: 1.5rem;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 6.25rem;
    margin-top: 1.75rem;
}

.footer-container .social-medias p {
    color: var(--cinza-links);
}

.footer-container .social-medias i {
    background-color: var(--preto-social-medias);
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
}

.footer-container .social-medias i:hover {
    color: var(--azul-marinho-claro);
    transition: .5s ease-out;
}

.footer-container .social-medias {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.footer-container .social-medias div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-container .links {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3.75rem;
}

.footer-container .links h5 {
    font-size: 1.25rem;
    margin-bottom: 1.75rem;
}

.footer-container .links li {
    list-style: none;
    color: var(--cinza-links);
    margin-bottom: 1.25rem;
    cursor: pointer;
}

.footer-container .links li:hover {
    text-decoration: underline;
    opacity: .8;
}

.final-links {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid var(--cinza-escuro)
}

.final-links ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.75rem;
    margin-top: 0.75rem;
    padding: 0.75rem;
    font-size: 2rem;
}

.final-links ul li,
.final-links ul p {
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    color: var(--cinza-links);
}

.final-links ul li:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: .8;
}

.final-links ul span {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--cinza-links);
}

@media screen and (max-width: 700px) {
    .footer-container .links {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.875rem;
    }
}

@media screen and (max-width: 996px) {
    .footer-container .social-medias {
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 1036px) {
    .footer-container {
        gap: 3.75rem;
    }
}