:root {
    --rosa: #FFF7F0;
    --preto: #131313;
    --preto-social-medias: #1A1919;
    --azul-marinho: #112A46;
    --azul-marinho-claro: #406692;
    --azul-claro: #E7EEFF;
    --branco: #ffffff;
    --cinza-escuro: #535353;
    --cinza-claro: #EFEFEF;
    --cinza-links: #93969C;
    --amarelo: #FFE43B;
    --gelo: #F7F9FD;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* =========== Animation */

@keyframes go-back {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}

/* ================ HEADER */

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 28px 0px;
    background-color: var(--rosa);
}

.logo-img {
    width: 150px;
    cursor: pointer;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.menu ul li {
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    color: var(--preto);
}

.header-btn {
    padding: 12px 28px;
    border-radius: 8px;
    border: none;
    background-color: var(--azul-marinho);
    color: var(--branco);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.header-btn:hover {
    border-radius: 4px;
    transition: 1s ease-out;
    background-color: var(--azul-marinho-claro);
}

/* Menu Mobile */

.btn-mobile {
    display: none;
    border: none;
    background-color: transparent;
    color: var(--azul-marinho);
}

.btn-mobile i {
    font-size: 20px;
}

.close-menu {
    display: none;
}

.close-menu i {
    font-size: 20px;
    color: var(--branco);
}

@media screen and (max-width: 1000px) {
    .btn-mobile {
        display: block;
    }

    .menu ul {
        display: none;
        position: absolute;
    }

    .header-btn {
        display: none;
    }

    .close-menu {
        display: block;
    }

    .menu.active ul {
        display: flex;
        position: fixed;
        background-color: var(--azul-marinho);
        box-shadow: 0px 0px 8px 0px var(--preto-social-medias);
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        max-width: 320px;
        width: 100%;
        right: 0;
        top: 0;
        z-index: 100;
        padding: 32px;
        animation: go-back 1s;
    }

    .menu.active ul li:last-child {
        color: var(--preto);
        background-color: var(--amarelo);
        border-radius: 12px;
        padding: 12px 20px;
    }

    .menu.active ul li {
        padding: 16px;
        color: var(--rosa);
        font-weight: 500;
    }
}

/* ================ MAIN */

/* First Article */

.first-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 28px 0px;
    background-color: var(--rosa);
}

.first-article section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    width: 100%;
}

.first-article section h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 72px;
    font-weight: lighter;
    margin-bottom: 12px;
}

.first-article section p {
    max-width: 550px;
    width: 95%;
    margin-bottom: 24px;
    color: var(--cinza-escuro);
}

.first-article section button {
    width: 200px;
    padding: 20px 4px;
    border-radius: 8px;
    background-color: var(--azul-marinho);
    border: none;
    color: var(--branco);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.first-article section button:hover {
    border-radius: 4px;
    transition: 1s ease-out;
    background-color: var(--azul-marinho-claro);
}

/* Second Article */

.second-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 0px;
}

.second-article .first-section h2 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 12px;
}

.second-article .first-section P {
    text-align: center;
    color: var(--cinza-escuro);
}

.second-article .second-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 95%;
    padding: 48px 0px;
}

.second-article .second-section .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    max-width: 210px;
    width: 100%;
    height: 250px;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 12px;
    box-shadow: 10px 10px 26px 0px rgba(199, 199, 199, 0.212);
}

.second-article .second-section .container h3 {
    font-size: 32px;
    color: var(--azul-marinho);
    position: relative;
}

.circle-1 {
    position: absolute;
    background-color: var(--azul-claro);
    opacity: .7;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: 16px;
    bottom: 1px;
}

.circle-2 {
    position: absolute;
    background-color: var(--azul-claro);
    opacity: .7;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: 35px;
    bottom: 1px;
}

.second-article .second-section .container h4 {
    font-size: 20px;
}

.second-article .second-section .container p {
    font-size: 15px;
    color: var(--cinza-escuro);
}

/* Third Article */

.third-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 28px 0px;
}

.third-article section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    width: 100%;
}

.third-article section h2 {
    font-size: 60px;
    margin-bottom: 12px;
}

.third-article section p {
    max-width: 550px;
    width: 95%;
    margin-bottom: 24px;
    color: var(--cinza-escuro);
}

.third-article section button {
    width: 160px;
    padding: 24px 12px;
    border-radius: 8px;
    background-color: var(--azul-marinho);
    border: none;
    color: var(--branco);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.third-article section button:hover {
    border-radius: 4px;
    transition: 1s ease-out;
    background-color: var(--azul-marinho-claro);
}

/* Fourth Article */

.fourth-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 0px;
}

.fourth-article .first-section h2 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 12px;
}

.fourth-article .first-section P {
    text-align: center;
    color: var(--cinza-escuro);
}

.fourth-article .second-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 16px 0px;
}

.fourth-article .second-section .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    max-width: 280px;
    height: 400px;
    padding: 8px;
}

.fourth-article .second-section .container img {
    width: 100%;
}

.fourth-article .second-section .container h4 {
    font-size: 28px;
}

.fourth-article .second-section .container p {
    font-size: 17px;
    color: var(--cinza-escuro);
}

/* Fifth Article */

.fifth-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 28px 0px;
}

.fifth-article section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 520px;
    width: 100%;
    margin-left: 64px;
    padding: 0px 32px;
}

.fifth-article section h2 {
    font-size: 60px;
    margin-bottom: 12px;
}

.fifth-article section p {
    max-width: 550px;
    width: 95%;
    margin-bottom: 24px;
    color: var(--cinza-escuro);
}

.fifth-article section button {
    width: 160px;
    padding: 24px 0px;
    border-radius: 8px;
    background-color: var(--azul-marinho);
    border: none;
    color: var(--branco);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.fifth-article section button:hover {
    border-radius: 4px;
    transition: 1s ease-out;
    background-color: var(--azul-marinho-claro);
}

.fifth-article section .semicircle {
    position: absolute;
    width: 115px;
    right: 0;
    z-index: -1;
}

/* Sixth Article */

.sixth-article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 28px 0px;
    background-color: var(--cinza-claro);
}

.sixth-article .first-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 370px;
}

.sixth-article .first-section h4 {
    font-weight: 500;
}

.sixth-article .first-section h2 {
    font-size: 60px;
}

.sixth-article .second-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
}

.sixth-article .second-section div p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 300px;
    padding: 32px 0px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 36px;
    background-color: var(--gelo);
    border-radius: 8px;
    box-shadow: 10px 10px 26px 0px rgba(199, 199, 199, 0.212);
}

/* Seventh Article */

.seventh-article {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 60px;
    padding: 28px 0px;
}

.seventh-article img {
    border-radius: 12px;
}

.seventh-article section {
    display: flex;
    flex-direction: column;
    gap: 36px;
    z-index: 1;
}

.seventh-article section h2 {
    font-size: 60px;
}

.seventh-article section button {
    width: 160px;
    padding: 24px 0px;
    border-radius: 8px;
    background-color: var(--azul-marinho);
    border: none;
    color: var(--branco);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.seventh-article section button:hover {
    border-radius: 4px;
    transition: 1s ease-out;
    background-color: var(--azul-marinho-claro);
}

.seventh-article section .img-1 {
    width: 500px;
}

.seventh-article .img-2 {
    width: 400px;
    height: 500px;
}

.seventh-article .img-3 {
    position: absolute;
    align-self: center;
    width: 200px;
    z-index: 2;
}

.seventh-article figure .semicircle {
    position: absolute;
    left: 0;
    margin-top: 10%;
}

/* Eighth Article */

.eighth-article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 12px;
    background-image: url(../img/background-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.eighth-article section h2 {
    font-size: 60px;
    margin-bottom: 24px;
    color: var(--branco);
}

.eighth-article section p {
    max-width: 400px;
    width: 95%;
    color: var(--branco);
}

.form-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    width: 95%;
    background-color: var(--branco);
    padding: 32px;
}

.form-section form img {
    width: 140px;
    margin-bottom: 24px;
}

.form-section form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.form-section .form input {
    padding: 12px;
    border: none;
    border-bottom: 1px solid var(--cinza-claro);
}

.form-section .form input[type="file"] {
    display: none;
}

.form-section .form input,
.form-section .form textarea {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.form-section .form textarea {
    border: 1px solid var(--cinza-claro);
}

.form-section .form label {
    font-size: 14px;
    color: var(--cinza-escuro);
    cursor: pointer;
}

.form-section .form label i {
    font-size: 20px;
    margin-right: 12px;
}

.form h4 {
    color: var(--cinza-escuro);
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.form-btn {
    width: 160px;
    padding: 16px 12px;
    border-radius: 8px;
    background-color: var(--azul-marinho);
    border: none;
    color: var(--branco);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
}

.form-btn:hover {
    border-radius: 4px;
    transition: 1s ease-out;
    background-color: var(--azul-marinho-claro);
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 28px;
}

.form-section .form .semicircle {
    position: absolute;
    width: 70px;
    right: 0;
    bottom: -20px;
}

/* ================ FOOTER */

.footer {
    background-color: var(--preto);
    color: white;
    padding: 24px;
}

/* Ninth Article */

.ninth-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 100px;
    margin-top: 28px;
}

.ninth-article .social-medias p {
    color: var(--cinza-links);
}

.ninth-article .social-medias i {
    background-color: var(--preto-social-medias);
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.ninth-article .social-medias i:hover {
    color: var(--azul-marinho-claro);
    transition: .5s ease-out;
}

.ninth-article .social-medias {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.ninth-article .social-medias div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.ninth-article .links {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 60px;
}

.ninth-article .links h5 {
    font-size: 20px;
    margin-bottom: 28px;
}

.ninth-article .links li {
    list-style: none;
    color: var(--cinza-links);
    margin-bottom: 20px;
    cursor: pointer;
}

.ninth-article .links li:hover {
    text-decoration: underline;
    opacity: .8;
}

/* Final Links */

.final-links {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid var(--cinza-escuro)
}

.final-links ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 28px;
    margin-top: 12px;
    padding: 12px;
    font-size: 32px;
}

.final-links ul li,
.final-links ul p {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-links);
}

.final-links ul li:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: .8;
}

.final-links ul span {
    font-size: 24px;
    font-weight: 300;
    color: var(--cinza-links);
}